nav a {
  background-color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
}
nav {
  background-color: gray;
  padding: 0.2rem 0;
  font-family: "Fira Sans", sans-serif;
}
head {
  text-align: center;
  background-color: rgb(0, 0, 0);
}
body {
  text-align: center;
  background-color: rgb(231, 231, 231);
  font-family: "Lato", sans-serif;
}
main {
  text-align: center;
  width: 100%;
}
header {
  background-color: rgb(0, 0, 0);
  padding: 1rem 0;
}
h1 {
  color: white;
  font-family: "poppins", sans-serif;
}
header p {
  color: white;
  font-family: "poppins", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}
section {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 60%;
  padding: 1rem;
  text-align: center;
  margin: 2rem auto;
  border-radius: 6px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: black;
}
.flex-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.card {
  flex: 0 0 27%;
  padding: 1rem 0;
  transition: 0.5s;
}
.card img {
  width: 100%;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.grid-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
.catatan {
  background-color: rgb(189, 196, 196);
  text-align: left;
  border-radius: 3px;
}
.sosmed {
  display: flex;
  justify-content: space-evenly;
}
.logo {
  border: 2px solid black;
  padding: 0.5rem;
}
.card {
  text-align: justify;
}
h3 {
  text-align: center;
}
